src/Chaos.Proxy.WebApi/Infrastructure/ChaosEngine/Configuration/ChaosConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Asos.Chaos.WebApi.Configuration" elementFormDefault="qualified" targetNamespace="urn:Asos.Chaos.WebApi.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="chaosConfigurationSection" type="tns:Asos.Chaos.WebApi.Configuration.ChaosConfigurationSectionCT" />
	<xs:complexType name="Asos.Chaos.WebApi.Configuration.ChaosConfigurationSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="errors" type="tns:Asos.Chaos.WebApi.Configuration.PossibleErrorsCT">
				<xs:annotation>
					<xs:documentation>The Errors.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="settings" type="tns:Asos.Chaos.WebApi.Configuration.ChaosSettingsCT">
				<xs:annotation>
					<xs:documentation>The Settings.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Asos.Chaos.WebApi.Configuration.HttpErrorCT">
		<xs:attribute name="httpErrorCode" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The HttpErrorCode.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Asos.Chaos.WebApi.Configuration.PossibleErrorsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="httpError" type="tns:Asos.Chaos.WebApi.Configuration.HttpErrorCT">
				<xs:annotation>
					<xs:documentation>The HttpError Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Asos.Chaos.WebApi.Configuration.ChaosSettingsCT">
		<xs:attribute name="chaosLevel" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The ChaosLevel.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enabled" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
